@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Animations */
@keyframes pulse-red {

    0%,
    100% {
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7);
    }

    50% {
        box-shadow: 0 0 0 10px rgba(239, 68, 68, 0);
    }
}

.animate-pulse-red {
    animation: pulse-red 2s infinite;
}